@charset "UTF-8";

.error-input {
  /* border-color: #ff0000;
  background-color: #ff0000; */
  margin-left: 5px;
}

.error-messages {
  display: block;
  color: #ff0000;
}

.search-form {
  margin-left: 10px;
}

.search-container {
  margin-bottom: 10px;
}

.search-button {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}